@font-face {
  font-family: customFont;
  src: url(morganChalk.ttf);
}
section {
  width: 500px;
  background-color: rgb(200,173,125);
  padding: 25px;
  border: 5px solid black;
  margin: 50px;
  length: 300px;
  overflow: scroll;
}
body {
  background-color: orange;
}
p {
  color: white;
  font-size: 12pt;
}
p#black {
  color: black;
  font-size: 12pt;
}
cus {
  font-family: customFont;
}
h1 {
  color: brown;
  font-size: 42pt;
}
h2 {
  color: yellow;
  font-size: 32pt;
}
