body {
  background-color: grey;
}
p {
  color: white;
  font-size: 12pt;
  font-family: CustomFont;
}
h1 {
  color: orange;
  font-size: 42pt;
}
h2 {
  color: green;
  font-size: 32pt;
}
@font-face {
font-family: "CustomFont";
src: url("https://zachariahbenedictedmonds15.github.io/sp2023test-zach/css/fonts/customfont.tff") format("tff");
}
