@font-face {
font-family: customFont;
src: url(morganChalk.ttf);
}
body {
  background-color: orange;
}
p {
  color: white;
  font-size: 12pt;
}
cus {
  font-family: customFont;
}
h1 {
  color: brown;
  font-size: 42pt;
}
h2 {
  color: yellow;
  font-size: 32pt;
}
